<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WIKILOL.GG</title>
  <link rel="stylesheet" href="/css/styles.css">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">WIKI LOL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="colapse navbar-collapse" id="navbarNav">
        <ul  class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link" href="/" style="text-align: center;">SHEDULE
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="38" height="38" viewBox="0 0 425 425">
                <path class="shape" fill="#FAFAFA" d="M94.73,94.85h94.12V47.37h-73c-37.83,0-68.49,30.74-68.49,68.66v73.17h47.37V94.85z M179.04,212.94     l-84.31,84.51v-60.77H47.37v141.83h141.49v-47.48h-60.63l84.31-84.52L179.04,212.94z M330.34,331.03h-94.12v47.48h73     c37.83,0,68.49-30.74,68.49-68.66v-73.17h-47.37V331.03z M236.22,47.37v47.48h60.63l-84.31,84.52l33.49,33.57l84.31-84.52v60.77     h47.37V47.37H236.22z"></path>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" href="">VODS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" href="">STANDINGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" href="">PLAYERS</a>
          </li>

        </ul>
      </div>
    </nav>
  </header> 
</head>
<body>
  {{{body}}}
</body>
</html>