<div>
  <h1>LESGOOOOOOO</h1>
  <div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatibus obcaecati unde pariatur nam adipisci sit blanditiis perspiciatis fugiat harum ex tempora autem, inventore repellat molestiae id explicabo odio iure!</p>
  </div>
</div>